.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 1.5rem 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.95rem;
  position: relative;
  z-index: 10;
  transition: background 0.3s ease;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer p {
  margin: 0;
}
